@use './mixins' as *;
@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#dde4dc, #a6a4a4);
  height: 100vh;

  main {
    width: 500px;
    margin: 50px auto;
    padding: 30px $secondary-padding;
    @include linear-gradient(rgb(163, 197, 225), rgb(106, 129, 148));
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #9f9f9fb5;
    color: rgb(47, 48, 78);
    font-family: Arial, Helvetica, sans-serif;

    /* ====== class for FLEX =====*/
    .flex-container {
      @include flex;
    }
    /* ===========================  */
    h1 {
      text-align: center;
      margin-bottom: $primary-margin;
      font-size: 30px;
    }

    form {
      margin-top: 30px;

      div {
        .font-bold {
          font-weight: $bold-font;
          font-size: 18px;
        }

        .inputTop {
          line-height: 2;
          padding-left: $primary-padding;
          width: 50%;
          margin-bottom: $primary-margin;
          background-color: rgba(228, 236, 243, 0.988);
          border: 1px solid rgba(125, 144, 160, 0.756);
        }

        .radio-container {
          input {
            transform: scale(1.5);
            margin-right: $secondary-margin;
          }

          label {
            color: #000;
            font-weight: $bold-font;
          }

          #female {
            margin-top: $primary-margin;
          }
        }
      }

      #activityLevel-container {
        margin: $primary-margin auto;

        select {
          padding: $primary-padding;
          font-size: 15px;
          background-color: rgba(228, 236, 243, 0.988);
          border: 1px solid rgba(125, 144, 160, 0.756);
          border-radius: 10px;

          &:first-of-type {
            color: rgb(49, 48, 48);
          }
        }
      }

      #btn {
        padding: $primary-padding $secondary-padding;
        display: block;
        margin: 30px 0 $primary-margin auto;
        background-color: rgb(198, 107, 42);
        color: rgb(242, 228, 212);
        font-size: 16px;
        font-weight: $bold-font;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.54);

        &:hover {
          background-color: rgb(201, 97, 23);
          border-radius: 8px;
        }
      }
    }

    #results-container {
      box-shadow: 0 0 3px #b5b3b3cf;
      border: 1px solid #b5b3b3c1;
      margin-bottom: $primary-margin;

      p#results-description {
        @include results-table-grid;
        color: rgba(255, 255, 255, 0.922);
        font-weight: $bold-font;
        @include linear-gradient(rgb(83, 156, 215), rgb(51, 104, 148));
        border-bottom: 2px solid rgba(49, 48, 48, 0.5);
      }

      p.results-output {
        @include results-table-grid;
        font-weight: $bold-font;
        background-color: #f7eaea;
        border-top: 1px solid rgb(49, 48, 48);
      }
    }

    p#form_small-print {
      color: #000;
      padding-left: $primary-padding;
      display: flex;
      gap: 5px;

      &::before {
        content: '* ';
      }
    }
  }
}
